/* d1,d2-loginpage,  */
/* img,.home_class,.master homepage */
/* d4,d3 quiz */
*{
    margin: 0%;
    padding: 0%;
}
nav{
    
    /* margin-top: 5%;
    height: 10vh;
    width: 100%;
    background-color:rgb(58, 59, 59);
    border: black;
    /* position: fixed; */
    display: flex;
    background-color:rgb(58, 59, 59)
}
nav a{
    float: left;
    margin: 1% 6% 1% 6% ;
    padding: 0.5% 0.5% 0.5% 0.5%;
    background-color: rgb(255,255,255);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2vw;
    color: rgb(255, 0, 0);
    border-radius: 7px;  
    display: flex;
    flex-direction: column;
}
nav a:hover,a:focus,a:active{
    background-color: rgba(76, 247, 76, 0.973);
    transform: scale(1.2,1.2);
}
#d1{margin: 6% auto;
width: 70%;
padding: 10px;
}
/* form{
    padding: 27% 0% 0%  20%;
    
} */
.l1{
    display: block;
    padding-top:6%;
}
label{
    font-size: 3vw;
    font-family: 'Courier New', Courier, monospace;
    /* padding-left: 15%; */
    display: inline-block;
    cursor: pointer;
    margin-left: 15%;
    color: rgb(255,255,255);
}
input{
    display: inline-block;
    font-size: 3vw;
    /* cursor: pointer; */

}
.s1{
    display: block;
    margin: 6% 0% 0% 42%;
}
#d2{
    font-size: 3vw;
    margin: 2% 0% 0% 32%;
}
#d3{
    
    display:block;
    width: 100%;
    background-color: rgb(255, 0, 0);
    margin: 2% 0%;
    height: auto;
}
#d3>a{
background-color: #f1f1f1;
color: rgb(204, 32, 69);
  display: block;
  height: 100%;
  margin: 2%;
  padding: 5%;
  text-align: center;
  /* line-height: 75px; */
  font-size:5vw;
}
#d4{
    margin-top: 5%;
    font-size: 5vw;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10%;

}
button{
    cursor: pointer;
}

.home_class{
    display: inline-block;
    width: 75%;
    font-size: 2vw;
}

.master{
    border-style: solid;
}


.img{
    display: inline-block;
    margin: 1%;
    width: 20vw;
    height: 20vh;
}
@media only screen and (max-width: 1245px) { 
  /* For mobile phones: */
 nav {
    /* background-color: rgb(192, 164, 37); */
    display: flex;
    flex-direction: column;
}
nav a{
    text-align: center;
    font-size: 4vw;
}
.img{
    /* margin: auto; */
    
    display: flex;
    flex-direction: column;
    height: auto;
    width: 40%;
    margin: 0% 25%;
}
.home_class{
    font-size: 5vw;
    display: block;
    width: 100%;
}
}